<header class="header">
  <div class="container header-container">
    <div class="header-logo-mob">
     <svg class="header-logo-svg-mob" width="16" height="16">
      <use href="../img/icons.svg#mini-cubiki"></use>
     </svg>
     <svg class="header-logo-svg-mob" width="148" height="12">
      <use href="../img/icons.svg#mini-green-harvest"></use>
     </svg>
    </div>
    <div class="header-logo-tablet-desc">
      <svg class="header-logo-svg-tablet-desc" width="16" height="16">
       <use href="../img/icons.svg#big-cubiki"></use>
      </svg>
      <svg class="header-logo-svg-tablet-desc" width="148" height="12">
       <use href="../img/icons.svg#big-green-harvest"></use>
      </svg>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#how-it-works" class="nav-link">How it works</a>
          </li>
          <li class="nav-item">
            <a href="#vegetables" class="nav-link">Vegetables</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="button-shop-now">SHOP NOW</button>
      <button type="button" class="button-menu-open-mob">
        <svg width="32" height="32">
          <use class="open-menu-mob-icon" href="../img/icons.svg#mini-icon-menu-open"></use>
        </svg>
      </button>
        <button type="button" class="button-menu-open-td">
          <svg width="32" height="32">
            <use class="open-menu-tablet-icon" href="../img/icons.svg#big-icon-menu-open"></use>
          </svg>
      </button>
     </div>
 </div>
</header>
