<section class="how-it-works" id="how-it-works">
  <div class="container">
    <h2 class="visually-hidden">How it works</h2>
    <div class="work-image-wrap">
      <picture>
        <source
          srcset="
            ./img/womcut-desc-1x-min.jpg 1x,
            ./img/womcut-desc-2x-min.jpg 2x,
            ./img/womcut-desc-3x-min.jpg 3x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/womcut-tab-1x-min.jpg 1x,
            ./img/womcut-tab-2x-min.jpg 2x,
            ./img/womcut-tab-3x-min.jpg 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/womfill-mob-1x-min.jpg 1x,
            ./img/womfill-mob-2x-min.jpg 2x,
            ./img/womfill-mob-3x-min.jpg 3x
          "
          media="(max-width: 767px)"
        />
        <img
          class="work-image-pic"
          src="./img/womcut-mob-1x-min.jpg"
          alt="Woman with knife"
        />
      </picture>
    </div>
    <div class="work-steps-wrap">
      <h3 class="work-steps-subtit">
        To order your <span class="steps-subt-accent">vegetable</span> basket,
        simply follow these <span class="steps-subt-accent">easy steps</span>
      </h3>
      <p class="work-steps-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="work-steps-list">
        <li class="work-steps-item">
          Just choose <span class="steps-list-accent">the vegetable</span> you
          want to order by clicking on the checkboxes
          <span class="steps-list-accent">next to it.</span>
        </li>
        <li class="work-steps-item">
          Click on <span class="steps-list-accent">the basket</span> and fill
          out the form.
        </li>
        <li class="work-steps-item">
          Sit back and relax! Your
          <span class="steps-list-accent">fresh vegetables</span> basket will be
          delivered.
        </li>
      </ol>
    </div>
  </div>
</section>
