<div class="mobile-menu">
  <div class="modal">
    <button type="button" class="modal-btn">
      <svg
        class="modal-close-icon-mini"
        width="20"
        height="20"
        aria-label="close-icon"
      >
        <use href="./img/icons.svg#miniX"></use>
      </svg>
      <svg
        class="modal-close-icon-big"
        width="24"
        height="24"
        aria-label="close-icon"
      >
        <use href="./img/icons.svg#bigX"></use>
      </svg>
    </button>
    <ul class="modal-menu">
      <li class="modal-menu-item">
        <a href="#how-it-works" class="modal-menu-link">how it works</a>
      </li>
      <li class="modal-menu-item">
        <a href="#vegetables" class="modal-menu-link">vegetables</a>
      </li>
      <li class="modal-menu-item">
        <a href="#reviews" class="modal-menu-link">reviews</a>
      </li>
    </ul>
    <button type="submit" class="modal-btn-submit">shop now</button>
  </div>
</div>
