<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">
      Reviews from our <span class="reviews-title-part">customers</span>
    </h2>
    <p class="reviews-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          srcset="
            ./img/john-1x-min.png 1x,
            ./img/john-2x-min.png 2x,
            ./img/john-3x-min.png 3x
          "
          class="reviews-img"
          src="./img/john-1x-min.png"
          width="56"
          height="56"
          alt="John Wax"
        />

        <h3 class="reviews-subtitle">John Wax</h3>
        <p class="reviews-describe-text">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </li>
      <li class="reviews-item">
        <img
          srcset="
            ./img/victoria-1x-min.png 1x,
            ./img/victoria-2x-min.png 2x,
            ./img/victoria-3x-min.png 3x
          "
          class="reviews-img"
          src="./img/victoria-1x-min.png"
          width="56"
          height="56"
          alt="Victoria Romashenko"
        />

        <h3 class="reviews-subtitle">Victoria Romashenko</h3>
        <p class="reviews-describe-text">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>
      <li class="reviews-item">
        <img
          srcset="
            ./img/ihor-3x-min.png 3x,
            ./img/ihor-2x-min.png 2x,
            ./img/ihor-1x-min.png 1x
          "
          class="reviews-img"
          src="./img/ihor-1x-min.png"
          width="56"
          height="56"
          alt="Ihor Trachuk"
        />

        <h3 class="reviews-subtitle">Ihor Trachuk</h3>
        <p class="reviews-describe-text">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>
</section>
