<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="organic-title">organic <span>vegetables</span></h2>
    <p class="title-about">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vg-list">
      <li class="vg-item">
        <h3 class="vg-subtitle">eggplant</h3>
        <p class="price-list">60 UAH / kg</p>
        <img
          srcset="
            ../img/blueguy-1x-min.png 1x,
            ../img/blueguy-2x-min.png 2x,
            ../img/blueguy-3x-min.png 3x
          "
          src="../img/blueguy-1x-min.png"
          alt="eggplant"
          width="282"
          height="243"
          class="vg-image"
        />
      </li>
      <li class="vg-item">
        <h3 class="vg-subtitle">leek</h3>
        <p class="price-list">50 UAH / kg</p>
        <img
          srcset="
            ../img/porei-1x-min.png 1x,
            ../img/porei-2x-min.png 2x,
            ../img/porei-3x-min.png 3x
          "
          src="../img/porei-1x-min.png"
          alt="leek"
          width="282"
          height="243"
          class="vg-image"
        />
      </li>
      <li class="vg-item">
        <h3 class="vg-subtitle">mushrooms</h3>
        <p class="price-list">40 UAH / kg</p>
        <img
          srcset="
            ../img/mashroom-1x-min.png 1x,
            ../img/mashroom-2x-min.png 2x,
            ../img/mashroom-3x-min.png 3x
          "
          src="../img/mashroom-1x-min.png"
          alt="mushrooms"
          width="282"
          height="243"
          class="vg-image"
        />
      </li>
      <li class="vg-item">
        <h3 class="vg-subtitle">corn</h3>
        <p class="price-list">60 UAH / kg</p>
        <img
          srcset="
            ../img/corn-1x-min.png 1x,
            ../img/corn-2x-min.png 2x,
            ../img/corn-3x-min.png 3x
          "
          src="../img/corn-1x-min.png"
          alt="corn"
          width="282"
          height="243"
          class="vg-image"
        />
      </li>
      <li class="vg-item">
        <h3 class="vg-subtitle">sweet potatoes</h3>
        <p class="price-list">50 UAH / kg</p>
        <img
          srcset="
            ../img/batat-1x-min.png 1x,
            ../img/batat-2x-min.png 2x,
            ../img/batat-3x-min.png 3x
          "
          src="../img/batat-1x-min.png"
          alt="sweetpotatoes"
          width="282"
          height="243"
          class="vg-image"
        />
      </li>
      <li class="vg-item">
        <h3 class="vg-subtitle">carrot</h3>
        <p class="price-list">40 UAH / kg</p>
        <img
          srcset="
            ../img/carrot-1x-min.png 1x,
            ../img/carrot-2x-min.png 2x,
            ../img/carrot-3x-min.png 3x
          "
          src="../img/carrot-1x-min.png"
          alt="carrot"
          width="282"
          height="243"
          class="vg-image"
        />
      </li>
    </ul>
  </div>
</section>
