<section class="your-order" id="your-order">
  <div class="container">
    <h2 class="your-order-title">
      fresh <br /><span class="harvest">harvest</span> box has got you covered
    </h2>
    <p class="your-order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-block">
      <p class="order-block-text">
        Ordering <span class="from-us">from us</span> is quick and easy! Fill
        out <span class="the-form">the form</span> below and we will contact
        you!
      </p>
      <form class="order-form">
        <input class="form-input" type="text" placeholder="Full Name" />
        <input class="form-input" type="email" placeholder="Email" />
        <textarea class="form-textarea" placeholder="Comment"></textarea>
        <button class="form-submit" type="submit">Send</button>
      </form>
      <div class="social-media-block">
        <img class="social-media-image" src="" alt="" />
        <p class="social-media-text">Follow us on our social networks:</p>
        <div class="social-media">
          <!-- Можна через список, 
            але тоді остання лішка 
            висітиме без спану -->
          <a class="social-media-link" href="">instagram</a>
          <span class="social-media-link-separation">/</span>
          <a class="social-media-link" href="">facebook</a>
          <span class="social-media-link-separation">/</span>
          <a class="social-media-link" href="">youtube</a>
        </div>
      </div>
    </div>
  </div>
</section>
