/* Styles for Advertisement section */
.advertisement {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fbfbfb;
}

.adv-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
}

.adv-text-span {
    display: inline-block;
    color: #fbfbfb;
    border-radius: 12px;
    max-width: 355px;
    background-color: #576f35;
    padding: 0 10px;
    margin: 0 -10px;
}

@media screen and (min-width:768px) {

    .advertisement {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .adv-text {
        font-size: 64px;
        line-height: 1.09;

    }   

    .adv-text-span {
        display: block;
        margin: 0 -16px;
        padding: 8px 16px;
        max-width: 736px;
    }

}

@media screen and (min-width:1280px) {
   
    .adv-text {
        font-size: 76px;
        line-height: 1.05;
        padding: 0 13px;
    }

    .adv-text-span {
        display: inline-block;
        max-width: none; 
        padding: 0 13px;
        margin:0 0 0 -13px;
    }

}