/* Header styles */
.header {
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 48px;
}
.header-logo-mob {
  display: flex;
  fill: #FBFBFB;
}
.button-menu-open-mob {
  stroke: #FBFBFB;
  background-color: transparent;
  border: none;
}
.button-menu-open-td {
  display: none;
}
.header-logo-tab {
  display: none;
}
.open-menu-mob-icon {
}
@media screen and (min-width: 768px) {
  .button-menu-open-td {
    stroke: #FBFBFB;
    background-color: transparent;
    border: none;
  }
  .button-menu-open-mob {
    display: none;
  }
  .open-menu-tablet-icon {
  }
  .header-logo-tab {
    fill: #FBFBFB;
  }
}