:root {
    --text: #141414;
    --background: #576f35;
    --background-2: #7a3145;
    --main-text: #fbfbfb;
    --harvest: rgba(251, 251, 251, 0.3);
    --font-family: "Inter Tight", sans-serif;
}


.your-order {
    padding:80px 0;
}

.your-order-title {
    display: block;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 29px;
}

.highlight-text-harvest {
    color: var(--harvest);
}

.your-order-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 40px;
}

.order-block {
    border-radius: 30px;
    padding: 40px 20px;
    background-color: var(--main-text);
}

.order-form-text {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--text);
}

.highlight-text-from-us {
    color: var(--background-2);
}

.the-form {
    color: var(--background);
}

.order-form {
    display: flex;
    flex-direction: column;
}

.form-input {
    border: 1px solid rgba(77, 61, 61, 0.2);
    width: 100%;
    border-radius: 30px;
    padding-left: 16px;
    margin-bottom: 15px;
    height: 46px;
}

.form-input:user-valid {
    border-color: #3cbc81;
}

.form-input:user-invalid {
    border-color: #e74a3b;
}

.form-input:focus , .form-textarea:focus{
    outline: none;
    border-color: var(--background-2);
}

.form-textarea {
    resize: none;
    width: 100%;
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 15px;
    padding-left: 16px;
    padding-top: 14px;
    height: 91px;
    margin-bottom: 20px;
}

.order-form ::placeholder{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--text);
}

.form-submit-btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.01em;
    border: none;
    text-transform: uppercase;
    color: var(--main-text);
    border-radius: 30px;
    padding:16px 0;
    max-width: 100%;
    text-align: center;
    background: var(--background);
}

.social-media-block {
    margin-top: 20px;
    border-radius: 30px;
    padding: 40px 20px;
    background-color: var(--background);
}

.order-block,
.social-media-block{
    min-width: 280px;
}

.social-media-image {
    max-width: 100%;
    border-radius: 15px;
    max-height: 273px;
    margin-bottom: 20px;
}

.social-media-text {
        line-height: 1.29;
        letter-spacing: -0.01em;
        color: rgba(251, 251, 251, 0.5);
}

.social-media {
    margin-top: 14px;
}

.social-media-item{
    display: inline;
}


.social-media-item:not(:last-child):after {
    content: "/";
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08;
    margin: 0 8px;
}

.social-media-link {
    font-size: 24px;
    line-height: 1.08;
    letter-spacing: -0.01em;
}

@media screen and (min-width:768px){
    .your-order {
        padding: 100px 0;
    }
    
    .your-order-title{
        font-size: 64px;
        line-height: 1.0;
    }
    
    .your-order-text{
        font-size: 16px;
        line-height: 1.25;
        max-width: 640px;
    }

    .order-block{
        margin: 0 auto;
        max-width: 628px;
        padding: 50px 100px;
    }

    .order-form-text{
        margin-bottom: 50px;
    }

    .form-input{
        height: 52px;;
        line-height: 1.25;
    }

    .order-form::placeholder{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }

    .form-textarea{
        height: 95px;
        margin-bottom: 25px;
    }

    .form-submit-btn{
        font-size: 18px;
        line-height: 1.11;
    }

    .social-media-block{
        max-width: 628px;
        margin: 0 auto;
        margin-top: 25px;
        padding: 50px;
    }

    .social-media-image{
        margin-bottom: 50px;
    }

    .social-media-text{
        font-size: 18px;
        line-height: 1.11;
    }

    .social-media{
        margin-top: 15px;
    }

    .social-media-item:not(:last-child):after{
        font-size: 32px;
        line-height: 1.0;
        margin: 0 12px;
    }

    .social-media-link{
        font-size: 32px;
        line-height: 1.0;
    }

    .divide-link{
        font-weight: 600;
        font-size: 32px;
        line-height: 1.0;
    }
}

@media screen and (min-width:1280px) {
    .order-wrap{
        display: flex;
        gap: 24px;
    }

    .order-block{
        padding: 50px;
    }

    .your-order-title{
        margin-bottom: 25px;
        margin-right: auto;
        max-width: 751px;
    }

    .your-order-text {
        margin-right: auto;
        margin-bottom: 50px;
        max-width: 742px;
    }

    .social-media-block{
        margin-top: 0;
    }

    .order-block, .social-media-block  {
        width: calc(100% - ((100px * 2) + 24px));
    }
}